anonymous_enable={{ vsftpd_anonymous_enable }}
local_enable={{ vsftpd_local_enable }}
write_enable={{ vsftpd_write_enable }}
anon_upload_enable={{ vsftpd_anon_upload_enable }}
dirmessage_enable=YES
xferlog_enable=YES
connect_from_port_20=YES
pam_service_name=vsftpd
userlist_enable=YES
listen=YES
listen_ipv6=NO
